<div>
  <% shelves.each do |shelf| %>
    <%= link_to shelf.title,
      shelf_path(shelf),
      data: { turbo_stream: true },
      class: "list-group-item list-group-item-action d-block mb-2" %>
  <% end %>
</div>
