<div class="container text-center mt-5">
  <h1 class="text-primary mb-4">Kirocco</h1>
  <p class="lead">お気に入りのアイテムを棚に飾って、あなただけのコレクションを作ろう。</p>
  <button class="btn btn-success mt-3">はじめる</button>
</div>